In [3]:
import pandas as pd

df = pd.read_csv('data/train.csv')
df

              id                                           rle_mask
0     575d24d81d                                                NaN
1     a266a2a9df                                          5051 5151
2     75efad62c1  9 93 109 94 210 94 310 95 411 95 511 96 612 96...
3     34e51dba6a  48 54 149 54 251 53 353 52 455 51 557 50 659 4...
4     4875705fb0  1111 1 1212 1 1313 1 1414 1 1514 2 1615 2 1716...
5     782ae9b7e7  1 1815 1819 90 1920 81 2021 73 2122 64 2223 55...
6     9842f69f8d                                                NaN
7     aa94cfb806  1 28 102 28 203 29 304 30 405 32 506 33 607 34...
8     50d3073821                                    1 2121 9293 909
9     28f865caaa                                                NaN
10    b5e1371b3b  75 27 175 28 275 29 374 31 474 32 574 33 674 3...
11    57e394bc67                                                NaN
12    b45ad3932e  49 11 149 11 249 11 351 10 452 9 553 9 654 8 7...
13    ef51bbcde7                                                NaN
14    d4d34af4f7                                          8788 1414
15    302ea1ac81  6 96 108 95 210 94 311 94 413 93 515 92 615 93...
16    40dcff68b3  3536 4 3637 20 3738 36 3839 53 3940 70 4041 86...
17    7845115d01                                          7677 2525
18    3da729cae9  1 54 102 54 203 53 304 53 405 53 506 53 607 53...
19    d67e3a11d8                                                NaN
20    b3396387a6  42 60 141 62 241 63 341 64 441 65 542 65 642 6...
21    a5471f53d8            9797 1 9891 8 9986 14 10081 20 10176 26
22    d27831fef2  93 9 195 8 296 8 397 8 498 8 599 8 701 7 802 7...
23    7faea04242  1 6865 6869 92 6970 86 7071 81 7172 76 7273 71...
24    9747413253                                                NaN
25    b9614348f4  1 3434 3439 97 3544 93 3647 91 3749 90 3853 87...
26    4696bb53e6  23 79 127 76 228 76 335 70 439 67 543 64 650 5...
27    fc250f574c  3435 1 3536 1 3637 2 3738 2 3839 3 3940 3 4041...
28    005b452274                                                NaN
29    02117a400e  4041 1 4142 4 4243 7 4344 10 4445 13 4546 15 4...
...          ...                                                ...
3970  16207869ba                          3447 41 3528 71 3618 6584
3971  44d745a704  91 11 191 12 291 13 392 13 492 14 592 15 693 1...
3972  711c478c93                                                NaN
3973  84e23dba29  304 1 405 2 506 3 607 4 708 5 809 6 910 7 1011...
3974  e73532b450                                                NaN
3975  8329ec9395  1 4039 4041 99 4142 98 4243 96 4344 95 4445 94...
3976  7e7276d088  405 1 506 3 607 5 708 8 809 10 910 12 1011 14 ...
3977  0e63d9a8b4  7573 3 7674 3 7775 3 7876 3 7977 3 8078 3 8179...
3978  1d80de2ec9                                                NaN
3979  919bc0e2ba                                             1 5959
3980  5cada3d3f1                                                NaN
3981  0530b67189  3938 2 4032 9 4127 15 4221 22 4310 34 4398 47 ...
3982  fb44090bc7                                                NaN
3983  3c1ed5cc1f                                                NaN
3984  c7f54785b8                      92 10 195 8 298 6 402 3 505 1
3985  158765ed16  1 8585 8587 100 8690 98 8793 96 8896 94 8998 9...
3986  3ff3881428                                                NaN
3987  e8d8b35601  79 11 177 13 276 14 375 15 474 16 573 18 672 1...
3988  a7cfa30d35  1 84 102 83 203 81 304 79 405 77 506 75 607 73...
3989  917ef84e64                                                NaN
3990  633c7d5c80                                                NaN
3991  30082e87d9  59 43 163 40 267 37 371 34 472 34 573 34 674 3...
3992  f139be21a4                                                NaN
3993  ac931ace49                 6464 1 6565 1 6666 1 6767 1 6868 1
3994  cb36193e2f  74 28 173 30 270 34 367 38 467 39 567 40 668 4...
3995  9cbd5ddba4                                                NaN
3996  caa039b231  2398 7 2499 11 2600 16 2700 22 2801 26 2901 29...
3997  1306fcee4c                                                NaN
3998  48d81e93d9  2828 1 2927 3 3026 5 3126 6 3225 8 3324 10 342...
3999  edf1e6ac00                                                NaN

[4000 rows x 2 columns]